img{
    height: 100px;
    width: 100px;
}
   body{
       box-sizing: border-box;
       font-family: 'Fira Sans', sans-serif;
      
   }
  
   .right-side{
       display: flex;
       float: right;
   }
   .my-pic{
       margin-top: 50px;
   }
   a{
       text-decoration: none;
   }
   .name{
           text-align:justify;
   }
   .about-me{
      border-bottom: dotted;
      height:25px;
      width: 35px;
   }
   .grid-container{
         display: grid;
         grid-template-columns: auto auto auto auto auto auto;
        grid-template-areas: 
        'header header header header header header';
      /*  'menu main main main aside aside'
        'menu footer footer footer '*/
   }
   .grid-container > div {
       background-color: indianred;
       border: 1px solid red;
       text-align: center;
   }
   .item1{
       grid-column: 1/7;
   }
   .item2{
    grid-column: 1/2;
    grid-row: 2/4;
  }
.item3{
    grid-column:2/4 ;

}    

   .item4{
    grid-column: 6/7;
   } 
   .item5{
    grid-column: 2/7;
   } 
   ul{
      list-style: none;
      overflow:scroll;
    
   }
   li{
       float: left;
    
   }
   li a{
       display: block;
       text-align: center;

   }
   li a:hover{
       background-color: chocolate;
   }
   li.dropdown{
       display: block;
   }
   .flex-container{
       background-color: aqua;  
       display: flex; 
       flex-wrap: wrap;
       flex-direction:column;

   }
   .flex-container > div{
       font-size: 25px;
       margin: 10px;
       padding: 20px;
       width: 100px;
       background-color: chocolate;
       text-align: center;
   }
   .container{
           height: 200px;
           width: 200px;
           border-right: 20px red solid;
           border-top:20px green solid;
           border-left: 20px orange solid;
           border-bottom: 20px yellowgreen solid;
           float: right;
   }